        <footer>
            <div class="mylinks">
                <a href="https://www.linkedin.com/in/ian-sear/"><i class="fab fa-linkedin fa-3x" style="color:black;"></i></a>
                <a href="https://github.com/iansear"><i class="fab fa-github-square fa-3x" style="color:black;"></i></a>
            </div>
        </footer>